@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body{
    margin-top:20px!important;
    background:#f8f8f8!important;
}
.fa-photo
{
    opacity: 0.8;
}
.itemdiv
{
    width: 35px; height: 35px; border-radius: 3px;
}